<!DOCTYPE html>
<html>
<head>

<title>Admin Panel</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="container">

<h1>Admin Panel</h1>

<button onclick="toggleDarkMode()">
🌙 Dark Mode
</button>

<br><br>

<h2>Welcome Admin</h2>

<h3>Total Attempts : {{ total_attempts }}</h3>

<h3>Highest Score : {{ highest_score }}</h3>

<h3>Average Score : {{ average_score }}</h3>

<h3>Total Questions : {{ question_count }}</h3>

<hr>

<h2>Quiz Statistics Chart</h2>

<canvas
id="statsChart"
width="400"
height="200">
</canvas>

<br>

<button onclick="window.location.href='/add_question'">
Add Question
</button>

<br><br>

<button onclick="window.location.href='/view_results'">
View Results
</button>

<br><br>

<button onclick="window.location.href='/leaderboard'">

Leaderboard

</button>

<br><br>

<button onclick="window.location.href='/delete_results'">
Delete History
</button>

<br><br>

<button onclick="logout()">
Logout
</button>

</div>

<script>

function logout()
{
    window.location.href = "/";
}

function toggleDarkMode()
{
    document.body.classList.toggle(
        "dark-mode"
    );
}
const ctx =
document.getElementById('statsChart');

new Chart(ctx,
{
    type: 'bar',

    data:
    {
        labels:
        [
            'Attempts',
            'Highest Score',
            'Average Score',
            'Questions'
        ],

        datasets:
        [
            {
                label:
                'Quiz Statistics',

                data:
                [
                    {{ total_attempts }},
                    {{ highest_score }},
                    {{ average_score }},
                    {{ question_count }}
                ]
            }
        ]
    }
});
</script>

</body>
</html>